* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
.App {
background-color: #f0f2f5;
user-select: none;
}

@font-face {
    font-family: 'Segoe-ui-historic'; /* Use single quotes for font names with spaces */
    src: url('../public/fonts/Segoe-ui-historic.ttf') format('truetype'); /* Specify the format */
    font-weight: 700; /* Specify the font weight */
}
.navBar {
    display: flex;
    height: 10vh;
    padding: 5px 5px 5px 15px;
    align-items: center;
}
.search-container {
    position: relative;
    left: 8px;
    width: 275px;
}
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(transparent, #8c939d, transparent);
  }
/* Style for the search input */
.search-input {
    width: 100%;
    padding: 10px 30px 10px 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.searchBar {
    height: 8vh;
    width: 45vh;
    border-radius: 20px;
    border: none;
    background-color: #f0f2f5;
    padding-left: 7vh;
    font-size: 2.4vh;
}
/* Style for the search icon */
.leftSide .search-container img {
    position: absolute;
    top: 43%;
    left: 0px;
    transform: translateY(-50%);
    background-color: #f0f2f5;
    border-radius: 50%;
    height: 5vh;
}

.searchBar:focus-visible {
    outline: none;
}
.leftSide img {
    cursor: pointer;
}
.searchImgDiv {
    
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #f0f2f5;

}
.leftSide {
    display: flex;
}
.centerSide {
    display: flex;
    align-items: center;
    display: none;
}
.centerSide ul {
    display: flex;
    list-style-type: none;
}
.centerSide li {
    width: 15vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
    text-align: center;
    cursor: pointer;
}
.centerSide li:hover {
    background-color: #f0f2f5;
    border-radius: 6px;
}
.centerSide ul img {
    height: 4.5vh;
}
.rightSide {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
}
.rightSide img {
    border-radius: 50%;
    background-color: #e4e6eb;
    margin: 0 1.5vh;
    cursor: pointer;
}
.rightSide img:nth-child(3) {
    height: 8vh;
    width: 8vh;
    object-fit: cover;
}
.navBar img {
    height: 8vh;
}
.coverPage {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #80808078 0%, #00000045 18%, #fff, #fff);
}
.coverImg {
    height: 65vh;
    width: 85%;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}
.coverImg img {
    height: 100%;
    object-fit: cover;
    width: -webkit-fill-available;
    border-radius: 0px 0px 10px 10px;
}
.coverBottom {
    height: 23vh;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.profileImg {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7vh;
    top: -12vh;
    background-color: #fff;
}
.profileImg img {
    height: 95%;
    border-radius: 50%;
    width: 95%;
    object-fit: cover;
}
.profileInfo {
    position: relative;
    left: -15vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.6vh;
}
.profileName {
    font-size: 5vh;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.4em;
}
.profileSubText {
    color: #65676b;
    font-size: 2.6vh;
    font-weight: 700;
    font-family: sans-serif;
}
.coverBtn {
    right: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.coverBtn button {
    font-size: 2.8vh;
    border: none;
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #e4e6eb;
    cursor: pointer;
    height: 4rem;
    align-items: center;
    color: #0866ff;
    margin: 10px 0px;
    width: 100%;
    direction: f;
    display: flex;
    justify-content: center;
}
.coverBtn button img {
    height: 2.4rem;
}

.homeMainDiv, .projectsMainDiv, .aboutMainDiv, .contactMainDiv, .workMainDiv {
    height: 100vh;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
}
.bottomNavBar {
    height: 10vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0px 8px 20px 0px #80808033;
    background-color: #fff;
    z-index: 1;
}
.bottomNavList {
    display: flex;
    list-style-type: none;
    width: 85%;
    border-top: 1px solid #00000042;
    position: absolute;
}

.bottomlistIcon {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 1vh;
}
.bottomLists {
    padding: 2vh 2.6vh;
    margin: 0px 2vh;
    font-size: 2.6vh;
    cursor: pointer;
    font-family: sans-serif;
}
.bottomLists.bottomlistIcon {
    padding: revert;
}
.bottomLists.active {
    border-bottom: 0.7vh solid #0866ff;
    color: #0866ff;
    font-weight: 700;
}
.bottomlistIcon.bottomLists.active {
    border: 2px solid #0866ff;
}
.infoDiv {
    height: 100%;
    width: 45vw;
    box-shadow: 0px 0px 5px 0px #808080a1;
    border-radius: 10px;
    margin-right: 2.6vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: auto;
    position: relative;
}
.socialDiv {
    height: 100%;
    width: 37vw;
    box-shadow: 0px 0px 5px 0px #808080a1;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 2.6vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.socialDiv a {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.introduction img {
    height: 4vh;
    margin: 0 8px 0 0;
}
.introText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    overflow-y: auto;
    width: 100%;
}
.introduction {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.introduction span {
    font-size: 2.6vh;
}
.infoDiv a {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.infoDiv h3, .socialDiv h3 {
    font-size: 3.2vh;
}
.textDiv {
    display: flex;
    flex-direction: column;
}
.textDiv span:nth-child(3) {
    font-size: 2vh;
    font-weight: 500;
    color: #65676bab;
}
/* .socialDiv span {
    display: block;
    text-align: left;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 15px 20px;
} */
.workMainDiv .infoDiv .introText {
    margin-top: 0px;
}
.workMainDiv .infoDiv .introduction:first-child {
    margin-left: 20px;
}
.workMainDiv .infoDiv .introduction:nth-child(2)  {
    margin: 0px 20px
}
.workMainDiv .socialDiv .textDiv span:nth-child(2){
    font-size: 2vh;
    font-weight: 500;
    color: #000;
}
.workMainDiv .socialDiv .textDiv span:nth-child(3){
    font-size: 2vh;
    font-weight: 500;
    color: #65676bab;
}
.projectsMainDiv .socialDiv h3 {
    text-align: left;
}
.projectsMainDiv .socialDiv {
    overflow-y: auto;
}
.projectsMainDiv .introduction .textDiv {
    cursor: pointer;
}
.bottomNavList a {
    text-decoration: none;
    color: #000;
}
.mobOnlyText {
    display: none;
}
.desktopOnlyText {
    display: block;
}
.suggestionList {
    position: absolute;
    max-height: 250px;
    /* height: auto; */
    width: 275px;
    padding-left: 40px;
    overflow: auto;
    background-color: #f0f2f5;
    border-radius: 5px;
}
.suggestionList li {
    list-style-type: none;
    cursor: pointer;
}
.suggestionList li:hover{
    color: #8c939d;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 75%;
}
.form-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 2.6vh;
}
.form input{
    border: none;
    border-bottom: 2px solid #0866ff;
    padding: 5px;
    color: #8c939d;
    width: 100%;
    font-size: 2.5vh;
}
.form input.submitBtn {
    border: none;
    background-color: #0866ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 7em;
}
.form input:focus-visible {
    outline: none;
}

#contact .socialDiv .introText .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .socialDiv .introText .introduction img {
width: fit-content;
}
#contact .socialDiv .introText .textDiv {
align-items: center;
}
#contact .socialDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact .bottomTxt {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#contact .bottomTxt span:nth-child(1) {
    font-weight: 300;
    font-size: 2.4vh;
}
#contact .bottomTxt span:nth-child(2) {
    font-weight: 700;
    font-size: 2.6vh;
}
#contact .introText h2 {
    font-size: 15vh;
    color: #8c939d;
}
#contact .introText h3 {
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    font-size: 3.5vh;
}
#contact .introText {
    display: flex;
    align-items: center;
}
.mainSection {
    display: flex;
    height: calc(100% - 50px);
}
.blogMain {
    height: 100vh;
}
.navigationBar {
    width: 0%;
    transition: all 0.3s ease-out;
}
.section {
    width: auto;
    overflow: auto;
    padding: 10px;
    background: #f0f2f5;
}
.blogPost {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background: #f0f2f5;
    padding: 1em 3em;
    margin: 1em 0;
    box-shadow: 0px 4px 8px 0px #686a6e;
}
.blogPost span::selection, .blogPost li::selection{
    background-color: #FDFF32;
    color: #000;
}
.postImg {
    width: 80%;
    align-self: center;
    margin: 0 0 20px 0;
    box-shadow: 0px 9px 12px 1px #65676b91;
}
.postHeading {
    font-size: 40px;
}
.postTextDiv {
    padding: 15px 0;
    border-bottom: 1px solid #65676b;
}
.postMainTextDiv {
    margin: 10px 0;
}
.postMainTextDiv h2 {
    margin-bottom: 10px;
}
.postMainTextDiv ol li {
    margin: 10px 0;
}
.navigationBar li {
    border-bottom: 1px solid #6b6d71;
    width: max-content;
    margin-left: 5px;
    margin-top: 10px;
    color: #0866ff;
    font-weight: 600;
    cursor: pointer;
    min-width: 100px;
    padding-left: 8px;
    border-radius: 3px 3px 0 0;
    transition: all 0.2s ease-in-out;
}
.navigationBar li:hover {
    list-style-type: disc;
    box-shadow: inset 0px -20px 0px 0px #0866ff;
    color: #fff
}
.navigationBar li::marker {
    color: #0866ff;
}
.navigationBar ul {
    margin: 20px;
    list-style-type: circle;
}
.headerBar {
    height: 50px;
    display: flex;
    align-items: center;
}
.navBtn {
    height: 100%;
    border: none;
    background: transparent;
    padding: 7px;
    cursor: pointer;
}
.burgerIcon {
    height: 100%;
}
.blogCloseBtn {
    border: none;
    cursor: pointer;
    align-self: center;
    position: absolute;
    right: 10px;
    top: 7px;
    background: #0866ff;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
}
.blogSearchBar {
    height: 6vh;
    width: 275px;
    border: none;
    background-color: #f0f2f5;
    padding-left: 40px;
    margin-left: 40px;
}
.blogSearchBar:focus-visible {
    outline: none;
    border-bottom: 1px solid #6b6d71;
}
.fullScreen {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.fullScreen img {
    width: 25px;
}
.projectLoadingDiv {
    position: absolute;
    height: calc(100% - 19px);
    width: calc(100% - 19px);
    background-color: #ffffff00;
    backdrop-filter: blur(2px);
    display: none;
}
.projectLoadingDiv .loaderBox {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30px;
    width: 30px;
}
.loaderBox.one {
    transform: translate(-110%, -110%);
    background: #0866ff;
    animation: oneAnim 0.4s ease-in-out 0s infinite alternate forwards;
}
.loaderBox.two {
    transform: translate(10%, -110%);
    background: #8c939d;
    animation: twoAnim 0.4s ease-in-out 0.1s infinite alternate forwards;
}
.loaderBox.three {
    transform: translate(-110%, 10%);
    background: #8c939d;
    animation: twoAnim 0.4s ease-in-out 0.2s infinite alternate forwards;
}
.loaderBox.four {
    transform: translate(10%, 10%);
    background: #0866ff;
    animation: oneAnim 0.4s ease-in-out 0.3s infinite alternate forwards;
}
.rightSide img:nth-child(2) {
    padding: 1.5vh;
}
.cv-container iframe {
    height: 100vh;
}
.dark {
    transition: all 0.5s linear;
}
.App.dark {
    background-color: #000;
}
.coverPage.dark {
    background-image: none;
    background-color: #000;
    color: #fff;
}
.navBar.dark {
    background-color: #000;
    color: #fff;
    /* border-bottom: 2px solid #fff; */
}
.infoDiv.dark, .socialDiv.dark {
    background-color: #000;
    color: #fff;
    /* border: 2px solid #fff; */
}
.socialDiv.dark a {
    color: #fff;
}
.workMainDiv .socialDiv.dark .textDiv span:nth-child(2) {
    color: #fff
}
.workMainDiv .socialDiv.dark .textDiv span:nth-child(3) {
    color: #c3c3c3ab;
}
.socialDiv.dark .textDiv span:nth-child(3) {
    color: #c3c3c3ab;
}
.bottomNavBar.dark {
    background-color: #000;
    border-bottom: 2px solid #fff;
}
.bottomNavBar.dark .bottomNavList a {
    color: #fff;
}
.infoDiv.dark .form input {
    background-color: transparent;
}
.searchBar.dark {
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.suggestionList.dark {
    background-color: #000;
}
.call.dark, .cv-show.dark {
    background-color: #000;
    height: 50px;
}
.cv-show.dark span {
    display: none;
}
.call.dark span {
    display: none;
}
.closeMenu {
    display: none;
}
@keyframes oneAnim {
    from {
        background: #0866ff;
    }
    to {
        background: #8c939d;
    }
}
@keyframes twoAnim {
    from {
        background: #8c939d;
    }
    to {
        background: #0866ff;
    }
}
@keyframes twoAnim {
    from {
        background: #8c939d;
    }
    to {
        background: #0866ff;
    }
}
@keyframes oneAnim {
    from {
        background: #0866ff;
    }
    to {
        background: #8c939d;
    }
}
.profile-icon {
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    opacity: 0;
    border-radius: 50%;
    background-color: #e4e6eb;
    margin: 1vh 1.5vh;
    position: absolute;
    right: 4px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.bottomNavBar.onTop .profile-icon {
    opacity: 1;
}
.cv-close {
    position: absolute;
    bottom: 20px;
    right: 25px;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 7px;
    background-color: #ffffff12;
    backdrop-filter: blur(7px);
    border-radius: 5px;
}
.cv-close img {
    width: 100%;    
}
@media only screen and (max-width: 650px) and (max-height: 950px) and (orientation: portrait){
    /* .navBar {
        display: none;
    } */
    .mobOnlyText {
        display: block;
    }
    .desktopOnlyText {
        display: none;
    }
    .coverImg {
        width: 100vw;
        height: 50vw;
    }
    .coverBottom {
        display: flex;
    height: fit-content;
    flex-direction: column;
    width: 85%;
    }
    .profileImg {
        /* height: 130px;
        width: 130px; */
        /* left: 0px;
        top: -58px; */
        left: 0vh;
    }
    .profileInfo {
        left: 0vh;
        top: -9vh;
    }
    .coverBtn {
        top: -6vh;
        left: 0vh;
    }
    .coverBtn button {
        margin-left: 0;
    }
    /* .bottomNavBar {
        height: 8vh;
    } */
    /* .bottomNavList {
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    } */
    .bottomLists {
    padding: 2vh 0;
    margin: 0px 1.5vh;
    font-size: 2.2vh;
    }
    .homeMainDiv, .projectsMainDiv, .aboutMainDiv, .contactMainDiv, .workMainDiv
    {
        padding-top: 2vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .infoDiv {
        width: 100vw;
    }
    #project .infoDiv {
        display: none;
    }
    .projectsMainDiv .socialDiv {
        margin-top: 0;
    }
    .socialDiv {
        width: 100vw;
        margin-top: 2vh;
    }
    .textDiv span:nth-child(3) {
        font-size: 12px;
        font-weight: 500;
        color: #65676bab;
    }
    #contact .bottomTxt {
        margin: 55px 0 20px 0;
        display: flex;
        flex-direction: column;
    }
    .section {
        padding: 0;
    }
    .blogPost {
        padding: 1em 1.3em;
        margin: 0;
    }
    .navBtn {
        display: none;
    }
    .mainSection {
        display: flex;
        height: calc(100% - 50px);
        flex-direction: column;
    }
    .navigationBar ul {
        margin: 0px;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    .navigationBar li {
        min-width: min-content;
        padding: 10px;
        margin: 0 4px;
    }
    .navigationBar li:hover {
        list-style-type: none;
        box-shadow: inset 0px -40px 0px 0px #0866ff;
        color: #fff;
    }
    .postImg {
        width: 100%;
    }
    /* new css to mobile portrait for navigation styles and some changes */

    .bottomNavBar {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
    }
    .bottomNavList {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
    }
    .bottomLists {
        padding: 2vh 0;
        margin: 5vh 0;
        font-size: 3.5vh;
    }
    .bottomLists.active {
        border: none;
    }
    .closeMenu {
        height: 7vh;
        width: 7vh;
        position: absolute;
        right: 2vh;
        top: 2vh;
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    .closeMenu img {
        height: 100%;
    }
    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 9;
        width: 100vw;
        background-color: #8c939d6e;
        backdrop-filter: blur(2px);
        height: fit-content;
        padding: 1vh 0;
        z-index: 1;
    }
    .search-container {
        display: none;
    }
    .rightSide {
        display: flex;
        justify-content: space-around;
        width: 75vw;
    }
    .navBar img {
        height: 4.2vh;
    }
    .rightSide img:nth-child(3) {
        height: 4.2vh;
        width: 4.2vh;
        object-fit: cover;
        border-radius: 0;
        background-color: transparent;
    }
    .leftSide {
        display: flex;
        justify-content: center;
        width: 25vw;
    }
    .bottomNavBar {
        display: none;
    }
    .rightSide img:nth-child(2) {
        padding: 1vh;
    }
    .profile-icon {
        display: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 900px) and (orientation: landscape){
    .navBar {
        display: none;
    }
    .coverImg,.coverBottom,.homeMainDiv, .projectsMainDiv, .aboutMainDiv, .contactMainDiv, .workMainDiv {
        width: 100%;
    }
    .infoDiv {
        width: 58vw;
    margin-right: 2vw;
    margin-left: 2vw;
    }
    .socialDiv {
        width: 36vw;
    margin-right: 2vw;
    overflow-y: auto;
    overflow-x: hidden;
    }
    .introduction span {
        word-break: break-all;
    }
    #contact .introText h2 {
        /* font-size: 2em; */
    }
    .profileImg {
            /* height: 125px;
            width: 125px; */
    }
    .profileName {
        font-size: 25px;
    }
    .coverBtn {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .coverBtn button {
        width: 100%;
        margin: 10px 0;
        padding: 5px 10px;
        height: 35px;
        display: flex;
        justify-content: space-evenly;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1368px) and (orientation: landscape){
    .profileInfo {
        left: -5vh;
    }
    .coverBottom {
        width: 85%;
    }
    .coverImg {
        height: 57vh;
        width: 85%;
    }
    .homeMainDiv, .projectsMainDiv, .aboutMainDiv, .contactMainDiv, .workMainDiv {
        width: 90%;
    }
    .infoDiv {
        width: 54vw;
    }
    .socialDiv {
        width: 35vw;
        margin-right: 0;
    }
    .coverBtn {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    
    }
    .coverBtn button {
        margin: 5px 0;
        height: 1.8rem;
        /* padding: 6px 10px; */
        display: flex;
        justify-content: space-evenly;
    }
    .coverBtn button img {
        height: 1.4rem;
    }
    
}
@media only screen and (min-width: 1919px) and (min-height: 1020px) and (orientation: landscape){
    .profileName {
        line-height: 1.4em;
    }
    .profileSubText {
        color: #65676b;
    }
    .coverImg {
        height: 65vh !important;
    }
   
}
@media only screen and (min-width: 1919px) and (min-height: 950px){
    .coverBtn button img {
        height: 1.4rem;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1024px)  and (min-height: 1000px) and (orientation: portrait){
    .search-container{
        display: none;
    }
    .coverPage {
        height: 78vh;
    }
    .coverImg {
        height: 55vh;
        width: 100%;
    }
    .coverBottom {
        height: 25vh;
        width: 100%;
    }
    .profileImg {
        left: 1vh;
        top: -9vh;
    }
    .coverBtn {
        right: 1vh;
        height: fit-content;
        top: 4vh;
    }
    .profileInfo {
        left: -1vh;
    }
    .coverBtn button {
        width: max-content;
        padding: 0.6vh;
        height: 60px;
    }
    .coverBtn button span {
        display: none;
    }
    .profileName {
        font-size: 4vh;
    }
    .profileImg {
        height: 25vh;
        width: 25vh;
    }
    .bottomNavList {
        width: 100%;
        justify-content: center;
    }
    .bottomNavBar {
        height: 9vh;
    }
    .homeMainDiv, .projectsMainDiv, .aboutMainDiv, .contactMainDiv, .workMainDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 3vh;
    }
    .infoDiv, .socialDiv {
        width: 100vw;
        margin: 1vh 0;
    }
    .mobOnlyText {
        display: block;
    }
    .desktopOnlyText {
        display: none;
    }
    #project .infoDiv {
        display: none;
    }
    .bottomNavBar.onTop .profile-icon {
        display: none;
    }
}